/*a*/


/*b*/
main p:first-child{
    color: red;
    font-size: 48px;
    text-align: center;
    margin: 1em;
}


/*c*/
main p:last-child{
    color: gray;
    font-size: 160px;
    text-decoration: overline;
    margin-top: 2em;
}

/*d*/

main p:nth-child(odd){
    background-color: yellow;
}


/* Ejercicio 9*/
p:nth-child(2){
<<<<<<< HEAD
    text-shadow: rgb(150,150,150)5px 5px 5px;
    transform: rotate(180deg);
=======
    text-shadow: rgb(37, 11, 83) 5px 5px 15px;
>>>>>>> c143b289c920628db89d3a3331d778f8d86433dc
}
p:nth-child(4){
    background: -webkit-linear-gradient(top, #FFFFFF, #666666);
    transform: perspective(500px) rotate3d(0, 1, 0, 45deg);
}