/*a*/


/*b*/
main p:first-child{
    color: red;
    font-size: 48px;
    text-align: center;
    margin: 1em;
}


/*c*/
main p:last-child{
    color: gray;
    font-size: 160px;
    text-decoration: overline;
    margin-top: 2em;
}

/*d*/

main p:nth-child(odd){
    background-color: yellow;
}


/* Ejercicio 9*/
p:nth-child(2){
    text-shadow: rgb(150,150,150)5px,5px,5px;
    animation: animacion 1s ease-in-out 0s infinite normal none;
}
p:nth-child(4){
    background: -webkit-linear-gradient(top, #FFFFFF, #666666);
    transform: perspective(500px) rotate3d(0, 1, 0, 45deg);
}

/*Ejercicio 11*/
/*@keyframes animacion {
    0%{
        color: red;
        transform: translate(0px,0px);
    }
    25%{
        color: yellow;
        transform: translate(200px,0px);
    }
    50%{
        color: blue;
        transform: translate(200px,200px);
    }
    75%{
        color: green;
        transform: translate(0px,200px);
    }
    100%{
        color: red;
        transform: translate(0px,0px);
    }
}
*/
/*Ejercicio 12*/
main p:nth-child(odd){
    float: left;
}
main p:nth-child(even){
    float: right;
}

