/*a*/
main p:nth-child(2){
    color: whitesmoke;
}

/*b*/
main p:first-child{
    color: red;
    font-size: 48px;
    text-align: center;
    margin: 1em;
}


/*c*/
main p:last-child{
    color: gray;
    font-size: 160px;
    text-decoration: overline;
    margin-top: 2em;
}

/*d*/
main p:nth-child(even){
    background-color: red;
}
main p:nth-child(odd){
    background-color: yellow;
}

/*Ejercicio 7*/
section{
    background-image: url('../images/logoeoiok.jpg');
    background-repeat: repeat-x;
}

/* Ejercicio 9*/
p:nth-child(2){
    text-shadow: rgb(150,150,150)5px 5px 5px;
    transform: rotate(180deg);
}
p:nth-child(4){
    background: -webkit-linear-gradient(top, #FFFFFF, #666666);
    transform: (rotate3d(5, 2, 6, 30deg));
}