.color-container{
    background-color: rgb(119, 119, 119);
    height: 5em;
}
h1{
    color: rgb(181, 156, 230);
    padding-top: 15px;
    text-align: center;
    font: 2em MS Sans Serif4, Geneva;
}