
p:first-of-type{
    color: aqua;
}

p:last-child{
    color: green;
}

p:nth-child(even){
    color: blue;
}

p:nth-child(odd){
    color:yellow;
}

section:only-child{
    color: gray;
}

.p1{
    font-size: 3em;
    text-align: center;
    margin: 1em;
}

.p3{
    font-size: 10em;
    text-decoration: overline;
    margin-top: 2em;
}

section{
    background-image: url("../images/descarga.png");
    background-repeat: repeat-x;
}

.p2{
    border: 2px;
    border-style: solid;
    border-radius: 2em;
    outline-width: 10em;
    outline-color: blue;
    text-shadow: 2px 2px 5px rgba(1, 22, 3, 0.8);
    
    transform: rotate(180deg);
}

.p4{
    background-image: linear-gradient(45deg, #ff7f50, #1e90ff);
    transform: rotate3d(1,1,0, 45deg);
}