/* a) */
section p:nth-of-type(2) {
    color: red;
}

/* b) */
section p:first-of-type {
    color: red;
}

/* c) */
section p:last-of-type {
    color: red;
}

/* d) */
section p:nth-child(even) {
    background-color: red;
}

section p:nth-child(odd) {
    background-color: yellow;
}

/* e) */
main > section:only-child {
    color: red;
}

/* f) */
section p:first-of-type {
    color: red;
}

/* g) */
p:not(section) {
    background-color: red;
}
