a {
    text-decoration: none;
    color: #ffffff;
}

#banner {
    background-image: url('./img/banner.jpeg');
    background-size: cover;
    height: 25em;
}

#banner h1 {
    font-size: 4em;
    color: #ffffff;
}

#blog-clientes {
    gap: 1em;
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #000000;
}