/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Encabezados */
h1, h2, h3 {
    color: #2c3e50;
    margin: 10px 0;
}

/* Estilo de la sección de artículos */
.articulo {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos de los párrafos */
p {
    margin: 5px 0;
}

/* Espaciado entre secciones */
.br {
    margin-top: 20px;
}

.sin-stock {
    color: red;
    font-weight: bold;
    font-style: italic;
    font-family: monospace
}