
p:first-of-type{
    color: aqua;
}

p:last-child{
    color: green;
}

p:nth-child(even){
    color: blue;
    /*float: right;*/
}

p:nth-child(odd){
    color:yellow;
    /*float: left;*/
}

section:only-child{
    color: gray;
}

.p1{
    font-size: 3em;
    text-align: center;
    margin: 1em;
}

.p3{
    font-size: 10em;
    text-decoration: overline;
    margin-top: 2em;

    animation: mianimacion 1s ease-in-out 0s infinite normal none;

}

@keyframes mianimacion{
    0% {
    background: #FFFFFF;
    }
    50% {
    background: #FF0000;
    }
    100% {
    background: #FFFFFF;
   }
}

section{
    background-image: url("../images/descarga.png");
    background-repeat: repeat-x;
}

.p2{
    border: 2px;
    border-style: solid;
    border-radius: 2em;
    outline-width: 10em;
    outline-color: blue;
    text-shadow: 2px 2px 5px rgba(1, 22, 3, 0.8);
    
    transform: rotate(180deg);
    animation: testAnimacion 2s ease-in-out 0s infinite normal none;

}

@keyframes testAnimacion{
    0% {
    background: #c50606;
    transform: translate(0,0);
    }
    25% {
    background: #a5e216;
    transform: translate(200px,0);
    }
    50% {
    background: #127bd1;
    transform: translate(200px,200px);
    }
    75% {
    background: #058b27;
    transform: translate(0,200px);
    }
    100% {
    background: #d30808;
    transform: translate(0,0);
   }
}

.p4{
    background-image: linear-gradient(45deg, #ff7f50, #1e90ff);
    transform: rotate3d(1,1,0, 45deg);
}

/*A
p{
    display: flex;
    justify-content: flex-start;
}*/

/*B
p{
    display: flex;
    justify-content: center;
}*/

/*C*/
p{
    display: flex;
    justify-content: flex-end;
}