
p:first-of-type{
    color: aqua;
}

p:last-child{
    color: green;
}

p:nth-child(even){
    color: blue;
}

p:nth-child(odd){
    color:yellow;
}

section:only-child{
    color: gray;
}

.p1{
    font-size: 3em;
    text-align: center;
    margin: 1em;
}

.p3{
    font-size: 10em;
    text-decoration: overline;
    margin-top: 2em;
}

section{
    background-image: url("\images\descarga.png");
    background-repeat: repeat-x;
}