.azules{
    color: aqua;
    background-color: black;
}
.verdes{
    color: green;
    background-color: pink;
}
.rojos{
    color: red;
    background-color: aquamarine;
}
.negros{
    color: black;
    background-color: gray;
}

.padding{
    padding: 3em;
    background-color: beige;
}

.border{
    border: 0cap;
}

.left{
    float: left;
}

img{
    width: 10%;
    height: 10%;
}

table {
    width: 50%;
    margin: auto; 
    border-collapse: collapse; 
}
th, td {
    padding: 8px;
    text-align: center; 
    border: 1px solid black; 
}
caption {
    font-size: 1.2em; 
    margin-bottom: 10px; 
    caption-side: top; 
}