.azules{
    color: aqua;
    background-color: black;
}
.verdes{
    color: green;
    background-color: pink;
}
.rojos{
    color: red;
    background-color: aquamarine;
}
.negros{
    color: black;
    background-color: gray;
}

.padding{
    padding: auto;
}

.border{
    border: 0cap;
}

.left{
    float: left;
}

img{
    width: 10%;
    height: 10%;
}